.features-boxes {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}

.box {
  padding: 25px;
  border: 1px solid var(--c-main-bg);
  border-radius: 20px;
  background: #00003542;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 200px;
  background: var(--c-b-darker);
  color: var(--c-neutral-300);
  height: 170px;
}

.feature span {
  text-align: center;
  margin: 5px;
  font-size: var(--fs-16) calc(16 / 16 * 1rem);
  color: var(--c-neutral-300);

}

.feature h3 {
  margin: 10px;
  color: var(--c-orange);
  animation: titleGradient 4s ease-in-out infinite;
}

.icon {
      background: #30303cc9;
  border-radius: 8px;
  padding: 10px;
  width: 65px;
  height: 50px;
  color: var(--c-orange);
  animation: titleGradient 4s ease-in-out infinite;
}