:root {
  --c-orange: hsl(38, 100%, 48%);
  --c-dark-blue: hsl(220, 72%, 22%) 25%;
  --c-b-darker: hsl(240, 83%, 14%) 67%;
  --c-light-blue: hsl(211, 93%, 35%) 100%;
  --c-lighter-blue: hsl(190, 88%, 52%) 84%;
  --c-neutral-0: hsl(0, 0%, 100%);
  --c-neutral-600: hsl(243, 23%, 30%);
  --c-neutral-300: hsl(240, 6%, 70%);
  --c-neutral-200: hsl(250, 6%, 84%);

  --c-text-light: var(--c-neutral-0);
  --c-header-bg: linear-gradient(23deg, var(--c-dark-blue), var(--c-b-darker), var(--c-light-blue), var(--c-lighter-blue));
  --c-main-bg: var(--c-dark-blue);
  --c-second-bg: var(--c-b-darker);

  --fs-96: calc(96 / 16 * 1rem);
  --fs-52: calc(52 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
}

.header {
  /* background: linear-gradient(23deg, rgba(16, 43, 97, 1) 25%, rgba(6, 6, 64, 1) 67%, rgba(6, 88, 173, 1) 100%, rgba(24, 204, 240, 1) 84%); */
  background: var(--c-b-darker);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(255 255 255 / 86%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head {
  display: flex;
  align-items: end;
}

.logo {
  width: 40px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-name {
  font-weight: 700;
  font-size: var(--fs-28);
  color: var(--c-neutral-0);
  margin-left: 3px;
}

.logo-ai-name {
  color: var(--c-orange);
}

.header-link {
  margin: 12px 0;
}

.header-links-list {
  margin-left: auto;
  align-self: center;
}

.header-links-list a {
  color: var(--c-neutral-300);
  margin-left: 45px;
  font-size: var(--fs-18);
}

.link:hover {
  color: var(--c-orange);
}

.get-started-btn {
  color: var(--c-neutral-0) !important;
  border-radius: 8px;
  padding: 8px;
  background: linear-gradient(90deg, rgba(184, 152, 59, 1) 17%, rgb(198, 122, 35) 68%, rgb(207, 140, 23) 100%);
  font-size: var(--fs-16) !important;
}

.get-started-btn:hover {
  background: linear-gradient(90deg, rgb(240, 181, 2) 17%, rgba(240, 128, 0, 1) 68%, rgba(255, 162, 0, 1) 100%);
}