@layer root {
  :root {
  --c-orange: hsl(38, 100%, 48%);
  --c-dark-blue: hsl(220, 72%, 22%) 25%;
  --c-b-darker: hsl(240deg 100% 10.31% / 89%) 67%;
  --c-bleu-bg: hsl(240deg 100% 10% / 64%) 67%;
  --c-light-blue: hsl(211, 93%, 35%) 100%;
  --c-lighter-blue: hsl(190, 88%, 52%) 84%;
  --c-neutral-0: hsl(0, 0%, 100%);
  --c-neutral-600: hsl(243, 23%, 30%);
  --c-neutral-300: hsl(240, 6%, 70%);
  --c-neutral-200: hsl(250, 6%, 84%);

  --c-text-light: var(--c-neutral-0);
  --c-header-bg: linear-gradient(23deg, var(--c-dark-blue), var(--c-b-darker), var(--c-light-blue), var(--c-lighter-blue));
  --c-main-bg: var(--c-dark-blue);
  --c-second-bg: var(--c-b-darker);

  --fs-96: calc(96 / 16 * 1rem);
  --fs-52: calc(52 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
}
}

.home-page {
  background: radial-gradient(at 10% 20%, hsla(220, 72%, 22%, 1) 0%, transparent 50%), radial-gradient(at 80% 0%, hsla(35, 100%, 30%, 0.3) 0%, transparent 50%), radial-gradient(at 0% 100%, hsla(220, 72%, 18%, 1) 0%, transparent 50%), radial-gradient(at 100% 100%, hsl(35deg 100% 48% / 24%) 0%, transparent 50%), linear-gradient(180deg, hsl(220, 72%, 20%) 0%, hsl(220, 65%, 16%) 100%);
  height: 200vh;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-title {
  color: var(--c-neutral-0);
  font-size: var(--fs-96);
  margin-top: 50px;
  opacity:0;
  transform: translateY(50px);
  animation: slideInFromBottom 1s ease-out forwards;
}

.orange-hero-title {
  position: relative;
  background: linear-gradient(90deg, 
    hsl(38, 100%, 48%) 0%, 
    hsl(20, 100%, 55%) 50%,
    hsl(38, 100%, 48%) 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleGradient 4s ease-in-out infinite;
}

.orange-hero-title::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 5px;
  width: 0;
  background-color: var(--c-orange);
  animation: lineGrow .6s ease-out .6s forwards;
}

@layer keyframes {
  @keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes lineGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes titleGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
}