:root {
  --c-green: oklch(0.72 0.22 149.58);
  --c-dark-orange: #ff8216;
}

.present-features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: hsl(240deg 100% 10% / 23%);
}

.features-title {
  margin: 50px 0px 80px 0px;
  font-size: var(--fs-52);
  color: var(--c-neutral-300);
  text-align: center;
}

@media (width <=700px) {
  .features-title {
    font-size: 35px;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  margin-bottom: 100px;
}

.f-box {
  border: 2px solid var(--c-main-bg);
  display: flex;
  flex-direction: column;
  width: 350px;
  background: linear-gradient(41deg, rgb(0 2 3 / 34%) 44%, transparent);
  padding: 30px 25px;
  border-radius: 15px;
  transition: 0.2s ease;
}

@media (width <= 400px) {
  .f-box {
    width: 270px;
  }
}

.f-box:hover {
  box-shadow: rgba(245, 155, 0, 0.6) 0px 0px 40px, 
  rgba(255, 102, 26, 0.3) 0px 0px 80px, 
  rgba(0, 0, 0, 0.4) 0px 8px 16px;
  border-color: var(--c-orange);
}

.f-box .box-title {
  text-align: center;
  color: var(--c-dark-orange);
  font-size: var(--fs-20);
}

.f-box .ft-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.f-box .i {
  color: var(--c-green);
}

.f-box span {
  color: var(--c-green);
  font-weight: 800;
}

.f-box ul {
  color: var(--c-neutral-300);
  font-weight: 500;
}


.f-box li {
  margin: 10px 0px;
}