.prompt-box {
  background-color: hsl(240deg 30.48% 26.91% / 29%);
  backdrop-filter: blur(18px);
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: var(--main-bx-shdw);
  border: 1px solid var(--c-main-bg);
  animation: slideInFromBottom 1s ease-out forwards;
  display: flex;
  position: relative;
}

@media (width >=700px) {
  .prompt-box {
    padding-bottom: 60px;
  }
}

@media (width <=700px) {
  .prompt-box {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}



.prompt-input {
  padding: 20px;
  width: 600px;
  height: 250px;
  margin: 34px 10px 0px 10px;
  color: var(--c-neutral-0);
  background-color: var(--c-bleu-bg);
  border-radius: 12px;
  box-shadow: var(--input-bx-shdw);
  border: 1px solid var(--c-main-bg);
  caret-color: var(--c-neutral-300);
  resize: none;
  scroll-behavior: smooth;
  font-size: var(--fs-20);
}

@media (width <=900px) {
  .prompt-input {
    width: 450px;
  }
}

@media (width <=700px) {
  .prompt-input {
    width: 380px;
    margin: 10px 10px 10px;
    height: 190px;
  }
}

@media (width <=450px) {
  .prompt-input {
    width: 290px !important;
  }
}

@media (width <=300px) {
  .prompt-input {
    width: 250px;
  }
}

.prompt-input::-webkit-scrollbar {
  width: 10px;
}

.prompt-input::-webkit-scrollbar-track {
  background: transparent;
  margin: 6px 0px;
}

.prompt-input::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--c-main-bg);
  border-radius: 12px;
  border: 1px solid transparent;
}

.prompt-input::-webkit-scrollbar-thumb:hover {
  background: var(--c-light-blue);
}

.prompt-input::placeholder {
  color: var(--c-neutral-300);
  font-size: var(--fs-20);
  font-family: monospace;
}

.prompt-input:focus {
  outline: none;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 35px 20px;
}



@media (width <=700px) {
  .inputs {
    gap: 16px;
    display: grid;
    width: unset;
    margin: 50px 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width <=558px) {
  .inputs {
    gap: 15px;
    grid-template-columns: 118px 118px;
    grid-template-rows: 1fr 85px;
  }
}

@media (width <=330px) {
  .inputs {
    gap: 30px;
    grid-template-columns: 118px;
    grid-template-rows: none;
  }
}

.multi-step-mode:hover {
  background: linear-gradient(90deg, rgb(255 146 0 / 86%) 17%, rgba(198, 122, 35, 0.797) 68%, rgba(207, 140, 23, 0.83) 100%);
}

.inputs button {
  width: unset;
  background: linear-gradient(90deg, rgb(255 146 0 / 86%) 17%, rgba(198, 122, 35, 0.797) 68%, rgba(207, 140, 23, 0.83) 100%);
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: var(--main-bx-shdw);
}

.inputs button:hover {
  background: linear-gradient(90deg, rgb(240, 181, 2) 17%, rgba(240, 128, 0, 1) 68%, rgba(255, 162, 0, 1) 100%);
}

.upload-file {
  display: none;
}

.record-audio {
  display: none;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width <=700px) {
  .btns {
    display: flex;
    flex-direction: column;
  }
}

@media (width <=558px) {
  .btns {
    translate: 60px 15px;
  }
}

@media (width <=330px) {
  .btns {
    align-items: center;
    translate: 0px -12px;
  }
}

.btns button {
  width: unset;
  background: linear-gradient(90deg, rgb(255 146 0 / 86%) 17%, rgba(198, 122, 35, 0.797) 68%, rgba(207, 140, 23, 0.83) 100%);
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: var(--main-bx-shdw);
}

.solve-it {
  font-size: var(--fs-28);
  color: var(--c-neutral-0);
  font-weight: 600;
  padding: 17px 28px !important;
  position: relative;
  transition: transform 0.2s ease-out;
  animation: glowPulse 3s ease-in-out infinite;
}

@media (width <=900px) {
  .solve-it {
    padding: 10px 20px !important;
  }
}

@media (width <=700px) {
  .solve-it {
    padding: 10px 26px !important;
  }
}

@media (width <=558px) {
  .solve-it {
    width: 150px !important;
  }
}

@media (width <=330px) {
  .solve-it {
    width: 229px !important;
    padding: 5px !important;
    font-size: 32px !important;
  }
}

.input-output {
  display: flex;
  gap: 13px;
}

@media (width <=700px) {
  .input-output {
    display: flex;
    gap: 13px;
    flex-direction: column;
    align-self: self-start;
    align-items: center;
  }

  .input-output button {
    width: 80%;
  }
}


.multi-step-mode {
  position: relative;
  padding: 11px !important;
}

@media (width <=900px) {
  .multi-step-mode {
    padding: 11px 0 !important;
  }
}


@media (width <=558px) {
  .multi-step-mode {
    width: 150px !important;
  }
}

.dot-on-off {
  position: absolute;
  color: var(--c-bleu-bg);
  right: -15px;
  top: -16px;
}

.formatted-prompts {
  position: absolute;
  bottom: 17px;
  left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (width <=700px) {
  .formatted-prompts {
    display: none;
  }
}

.formatted-prompts span {
  background: linear-gradient(41deg, rgb(6 86 172 / 47%) 59%, rgb(0 0 53) 99%);
  padding: 13px 4px;
  border-radius: 8px;
  font-size: var(--fs-18);
  color: var(--c-neutral-200);
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  animation: slideInFromBottom 1s ease-out forwards;
  transition: 0.2s ease;
}

@media (width >=900px) {
  .formatted-prompts span {
    padding: 13px 36px;
  }
}

.formatted-prompts span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(341deg, rgb(6 86 172 / 47%) 59%, rgb(0 0 53) 99%);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: -1;
}

.formatted-prompts span:hover {
  translate: 0px -3px;
}

.formatted-prompts span:hover::before {
  opacity: 1;
}