@layer root {
  :root {
    --c-orange: hsl(38, 100%, 48%);
    --c-dark-blue: hsl(220, 72%, 22%);
    --c-b-darker: hsl(240deg 100% 10.31% / 89%);
    --c-bleu-bg: hsl(240deg 100% 10% / 64%);
    --c-light-blue: hsl(211, 93%, 35%);
    --c-lighter-blue: hsl(190, 88%, 52%);
    --c-neutral-0: hsl(0, 0%, 100%);
    --c-neutral-600: hsl(243, 23%, 30%);
    --c-neutral-300: #aeaeb7;
    --c-neutral-200: hsl(252, 6%, 84%);

    --c-text-light: var(--c-neutral-0);
    --c-header-bg: linear-gradient(23deg, var(--c-dark-blue), var(--c-b-darker), var(--c-light-blue), var(--c-lighter-blue));
    --c-main-bg: var(--c-dark-blue);
    --c-second-bg: var(--c-b-darker);

    --main-bx-shdw: 0 4px 30px rgb(0 0 0 / 34%);
    --input-bx-shdw: 0 4px 30px rgb(0 0 0 / 20%);

    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
  }
}


@media (min-width: 1300px) {
  .chat-page .wrapper {
    padding: 0px 200px;
  }
}

@media (900px < width <=1300px) {
  .chat-page .wrapper {
    padding: 0px 130px;
  }
}

@media (700px < width <=900px) {
  .chat-page .wrapper {
    padding: 0px 60px;
  }
}

.chat-page {
  position: relative;
}

.chat-header {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid var(--c-neutral-600);
}

.math-icon {
  width: 50px;
}

.chat-header .homework-title {
  margin-left: 20px;
  color: var(--c-text-light);
}

.head-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.delete-btn {
  color: var(--c-neutral-300);
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.deletion-alert {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  background: var(--c-neutral-300);
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  z-index: 101;
}

.deletion-alert .alert-message {
  font-size: var(--fs-18);
  padding: 30px;
  text-align: center;
  font-weight: 600;
  color: var(--c-main-bg);
}

.alert-btns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 25px;
}

.alert-btns button {
  color: var(--c-b-darker);
  background: var(--c-dark-orange);
  border-radius: 16px;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  width: revert-layer;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: var(--c-bleu-bg);
}

.close-window {
  margin-left: auto;
  color: var(--c-neutral-300);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-section {
  height: 67vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

@media (min-height: 700px) {
  .chat-section {
    height: 74vh;
  }
}

.chat-section::-webkit-scrollbar {
  width: 10px;
}

.chat-section::-webkit-scrollbar-track {
  background: transparent;
  margin: 6px 0px;
}

.chat-section::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--c-light-blue);
  border-radius: 12px;
  border: 1px solid transparent;
}

.chat-section::-webkit-scrollbar-thumb:hover {
  background: var(--c-light-blue);
}

.rslt-user-prompt {
  color: #aeaeb7;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px 20px 0 20px;
  background-color: rebeccapurple;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 500px;
}

.rslt-ai-prompt {
  align-self: flex-start;
  color: var(--c-text-light);
  padding: 10px;
  margin-top: 50px;
  word-break: break-word;
  max-width: 800px;
}

@media (width >=700px) {

  .rslt-user-prompt,
  .rslt-ai-prompt {
    font-size: var(--fs-18);
  }
}

.rslt-ai-prompt .actions {
  display: flex;
  gap: 15px;
  color: var(--c-neutral-300);
  margin-top: 20px;
}

.rslt-ai-prompt svg {
  cursor: pointer;
}

.prompt-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 2px solid var(--c-neutral-600);
  align-items: center;
  background-color: var(--c-neutral-600);
  border-radius: 30px;
  box-shadow: var(--input-bx-shdw);
  border: 1px solid var(--c-main-bg);
}

.prompt-in {
  height: 70px !important;
  padding: 20px;
  outline: none;
  color: var(--c-neutral-0);
  border-radius: 30px;
  background-color: var(--c-neutral-600);
  caret-color: var(--c-neutral-300);
  resize: none;
  scroll-behavior: smooth;
  font-size: var(--fs-20);
}

.prompt-in::-webkit-scrollbar {
  width: 10px;
}

.prompt-in::-webkit-scrollbar-track {
  background: transparent;
  margin: 6px 0px;
}

.prompt-in::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--c-light-blue);
  border-radius: 12px;
  border: 1px solid transparent;
}

.prompt-in::-webkit-scrollbar-thumb:hover {
  background: var(--c-light-blue);
}

.prompt-btns {
  align-self: start;
}

.prompt-btns .submit-prompt {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 40px;
  color: var(--c-neutral-0);
  background: var(--c-neutral-300);
}

.prompt-btns :nth-child(2) {
  width: revert-layer;
  padding: 6px 11px;
}

.prompt-btns :nth-child(4) {
  width: 50px;
  height: 40px;
}

.prompt-btns button {
  color: var(--c-b-darker);
  background: var(--c-dark-orange);
  cursor: pointer;
  margin: 0 5px;
  border-radius: 16px;
}

.typing {
  display: flex;
  margin-top: 50px;
  margin-left: 25px;
  align-self: flex-start;
}

.typing-bubble {
  padding: 11px 15px;
  background: var(--c-light-blue);
  border-radius: 20px 20px 20px 4px;
  backdrop-filter: blur(10px);
  display: flex;
  gap: 6px;
  align-items: center;
}

.typing-dot {
  width: 8px;
  height: 8px;
  background: var(--c-orange);
  border-radius: 50%;
}

.typing-dot:nth-child(1) {
  animation: typingBounce 1.4s infinite;
}

.typing-dot:nth-child(2) {
  animation: typingBounce 1.4s infinite 0.2s;
}

.typing-dot:nth-child(3) {
  animation: typingBounce 1.4s infinite 0.4s;
}

.mistakes-alert {
  text-align: center;
  margin: 7px 0px;
  color: var(--c-neutral-200);
}

@keyframes typingBounce {

  0%,
  60%,
  100% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-5px);
  }
}