@layer root {
  :root {
    --c-orange: hsl(38, 100%, 48%);
    --c-dark-blue: hsl(220, 72%, 22%);
    --c-b-darker: hsl(240deg 100% 10.31% / 89%);
    --c-bleu-bg: hsl(240deg 100% 10% / 64%);
    --c-light-blue: hsl(211, 93%, 35%);
    --c-lighter-blue: hsl(190, 88%, 52%);
    --c-neutral-0: hsl(0, 0%, 100%);
    --c-neutral-600: hsl(243, 23%, 30%);
    --c-neutral-300: #aeaeb7;
    --c-neutral-200: hsl(252, 6%, 84%);

    --c-text-light: var(--c-neutral-0);
    --c-header-bg: linear-gradient(23deg, var(--c-dark-blue), var(--c-b-darker), var(--c-light-blue), var(--c-lighter-blue));
    --c-main-bg: var(--c-dark-blue);
    --c-second-bg: var(--c-b-darker);

    --main-bx-shdw: 0 4px 30px rgb(0 0 0 / 34%);
    --input-bx-shdw: 0 4px 30px rgb(0 0 0 / 20%);

    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
  }
}

.history-page .header-links-list a:nth-child(2) {
  color: var(--c-orange);
}

.history-title {
  text-align: center;
  font-size: var(--fs-52);
  margin: 33px 0;
  background: linear-gradient(90deg, hsl(38, 100%, 48%) 0%, hsl(20, 100%, 55%) 50%, hsl(38, 100%, 48%) 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: titleGradient 4s ease-in-out infinite; */
}

.recent-h {
  position: relative;
}


