.load-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more button {
  color: var(--c-neutral-0) !important;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 65px;
  background: linear-gradient(90deg, rgb(255 146 0 / 86%) 17%, rgba(198, 122, 35, 0.797) 68%, rgba(207, 140, 23, 0.83) 100%);
  font-size: var(--fs-16) !important;
  margin-bottom: 30px;
  width: revert-layer;
}

@media (width <= 700px) {
    .load-more button {
      padding: 8px 40px;
    }
}

.load-more button:hover {
  background: linear-gradient(90deg,
      rgb(240, 181, 2) 17%,
      rgba(240, 128, 0, 1) 68%,
      rgba(255, 162, 0, 1) 100%);
}