.prompt-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--c-neutral-600);
  cursor: text;
}

.prompt-in {
  padding: 20px;
  outline: none;
  color: var(--c-neutral-0);
  border-radius: 30px;
  background-color: var(--c-neutral-600);
  caret-color: var(--c-neutral-300);
  resize: none;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.4;
  overflow-y: auto;
}

.prompt-in::placeholder {
  color: var(--c-neutral-300);
}

.prompt-in::-webkit-scrollbar {
  width: 10px;
}

.prompt-in::-webkit-scrollbar-track {
  background: transparent;
  margin: 6px 0px;
}

.prompt-in::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--c-light-blue);
  border-radius: 12px;
  border: 1px solid transparent;
}

.prompt-in::-webkit-scrollbar-thumb:hover {
  background: var(--c-light-blue);
}

@media (width <= 700px) {
  .prompt-in {
  overflow-y: auto;
  scrollbar-width: none;        
}

.prompt-in::-webkit-scrollbar {
  width: 0;
  height: 0;                     
}
}

.prompt-btns {
  align-self: start;
}

.prompt-btns .submit-prompt {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 40px;
  color: var(--c-neutral-0);
  background: var(--c-neutral-300);
}

.prompt-btns :nth-child(2) {
  width: revert-layer;
  padding: 6px 11px;
}

.prompt-btns :nth-child(4) {
  width: 50px;
  height: 40px;
}

.prompt-btns button {
  color: var(--c-b-darker);
  background: var(--c-dark-orange);
  cursor: pointer;
  margin: 0 5px;
  border-radius: 16px;
}